In [ ]:
import pandas as pd #importing pandas to this envirnoment
import numpy as np #importing numoy to this envirnoment
import matplotlib.pyplot as plt #importing matplotlib to this envirnoment
%matplotlib inline 
#To save the generated images along with the ipynb file

In [ ]:
df=pd.read_csv("indian_liver_patient.csv") # reading the dataset using pandas and storing it in a variable called 'df'

In [ ]:
df.head() #visualizing top 5 rows in the dataset, pass any number inside the function if u want to visualize more number of rows

   Age  Gender  Total_Bilirubin  ...  Albumin  Albumin_and_Globulin_Ratio  Type
0   65  Female              0.7  ...      3.3                        0.90     1
1   62    Male             10.9  ...      3.2                        0.74     1
2   62    Male              7.3  ...      3.3                        0.89     1
3   58    Male              1.0  ...      3.4                        1.00     1
4   72    Male              3.9  ...      2.4                        0.40     1

[5 rows x 11 columns]

In [ ]:
df.shape #printing no. of rows and columns

(583, 11)

In [ ]:
df.columns #printing name of columns

Index(['Age', 'Gender', 'Total_Bilirubin', 'Direct_Bilirubin',
       'Alkaline_Phosphotase', 'Alamine_Aminotransferase',
       'Aspartate_Aminotransferase', 'Total_Protiens', 'Albumin',
       'Albumin_and_Globulin_Ratio', 'Type'],
      dtype='object')

In [ ]:
df.info() #printing information of data.

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 583 entries, 0 to 582
Data columns (total 11 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Age                         583 non-null    int64
 1   Gender                      583 non-null    object
 2   Total_Bilirubin             583 non-null    float64
 3   Direct_Bilirubin            583 non-null    float64
 4   Alkaline_Phosphotase        583 non-null    int64
 5   Alamine_Aminotransferase    583 non-null    int64
 6   Aspartate_Aminotransferase  583 non-null    int64
 7   Total_Protiens              583 non-null    float64
 8   Albumin                     583 non-null    float64
 9   Albumin_and_Globulin_Ratio  579 non-null    float64
 10  Type                        583 non-null    int64
dtypes: float64(5), int64(5), object(1)
memory usage: 50.2+ KB

In [ ]:
df=df.drop_duplicates() #to remove duplicates points

In [ ]:
df.shape

(570, 11)

In [ ]:
df.isnull().sum() #print no. of cells that are empty in a column

Age                           0
Gender                        0
Total_Bilirubin               0
Direct_Bilirubin              0
Alkaline_Phosphotase          0
Alamine_Aminotransferase      0
Aspartate_Aminotransferase    0
Total_Protiens                0
Albumin                       0
Albumin_and_Globulin_Ratio    4
Type                          0
dtype: int64

In [ ]:
df=df.dropna() #dropping the rows that has empty columns

In [ ]:
df.isnull().sum()

Age                           0
Gender                        0
Total_Bilirubin               0
Direct_Bilirubin              0
Alkaline_Phosphotase          0
Alamine_Aminotransferase      0
Aspartate_Aminotransferase    0
Total_Protiens                0
Albumin                       0
Albumin_and_Globulin_Ratio    0
Type                          0
dtype: int64

In [ ]:
df.drop("Gender",axis=1,inplace=True) #dropping a column, put axis =1 ; put axis=0 for dropping a row

In [ ]:
df.head()

   Age  Total_Bilirubin  ...  Albumin_and_Globulin_Ratio  Type
0   65              0.7  ...                        0.90     1
1   62             10.9  ...                        0.74     1
2   62              7.3  ...                        0.89     1
3   58              1.0  ...                        1.00     1
4   72              3.9  ...                        0.40     1

[5 rows x 10 columns]

In [ ]:
x=df.iloc[:,df.columns!="Total_Protiens"] # all the columns excepts 'Type' are stored in the variable 'x'
y=df.iloc[:,df.columns=="Total_Protiens"] # the column that is 'Type' is stored in variable 'y'

In [ ]:
from sklearn.model_selection import train_test_split  #importing train_test_split function
xtrain,xtest,ytrain,ytest=train_test_split(x,y,test_size=0.2) #0.2 means 20% of data allocated for test set

In [ ]:
#Regression Algos

#Linear Regression
from sklearn.linear_model import LinearRegression  #importing the function of algorithm
lr=LinearRegression()  # Storing the function in a variable
lr.fit(xtrain,ytrain)  # passing the training data in the variable that has the function/algorithm


#Polynomial Regression
from sklearn.preprocessing import PolynomialFeatures
from sklearn.pipeline import make_pipeline
from sklearn.linear_model import LinearRegression
degree=5 #close to number of x columns
pr=make_pipeline(PolynomialFeatures(degree),LinearRegression())
pr.fit(xtrain,ytrain.values.ravel())


#Support Vector Regression
from sklearn.svm import SVR
from sklearn.pipeline import make_pipeline
svr = SVR(kernel='linear')
svr.fit(xtrain,ytrain.values.ravel())


#Decision Tree Regression
from sklearn.tree import DecisionTreeRegressor
dtr=DecisionTreeRegressor()
dtr.fit(xtrain,ytrain.values.ravel())


#Decision Tree with adaptive boosting
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import AdaBoostRegressor
adar = AdaBoostRegressor(DecisionTreeRegressor(max_depth=4),
                          n_estimators=300)
adar.fit(xtrain,ytrain.values.ravel())


#Random Forest Regression
from sklearn.ensemble import RandomForestRegressor
rfr=RandomForestRegressor(n_estimators = 200)
rfr.fit(xtrain,ytrain.values.ravel())


#Gradient Boosting Regression
from sklearn.ensemble import GradientBoostingRegressor
gbr = GradientBoostingRegressor(n_estimators=100, learning_rate=1.0,
                                 max_depth=4,random_state=1).fit(xtrain, ytrain.values.ravel())


#Elasticnet Regression
from sklearn.linear_model import ElasticNet
er = ElasticNet(alpha=1.0, l1_ratio=0.5)
er.fit(xtrain,ytrain.values.ravel())


#Ridge Regression
from sklearn.linear_model import Ridge
rr = Ridge(alpha=1.0)
rr.fit(xtrain,ytrain.values.ravel())


#Lasso Regression
from sklearn import linear_model
lsr = linear_model.Lasso(alpha=0.1)
lsr.fit(xtrain,ytrain.values.ravel())

Lasso(alpha=0.1)

In [ ]:
from sklearn.metrics import r2_score #importing r2 score function
print("R2 Score")
print("Linear Regression",r2_score(ytest,lr.predict(xtest))) 
print("Polynomial Regression",r2_score(ytest,pr.predict(xtest)))
print("Support Vector Regression",r2_score(ytest,svr.predict(xtest)))
print("Decision Tree Regression",r2_score(ytest,dtr.predict(xtest)))
print("Decision Tree with adaboost",r2_score(ytest,adar.predict(xtest)))
print("Random Forest Regression",r2_score(ytest,rfr.predict(xtest)))
print("Gradient Boost Regression",r2_score(ytest,gbr.predict(xtest)))
print("ElasticNet Regression",r2_score(ytest,er.predict(xtest)))
print("Ridge Regression",r2_score(ytest,rr.predict(xtest)))
print("Lasso Regression",r2_score(ytest,lsr.predict(xtest)))
#inside the function pass ytest(actual y) & ypred(predicted y), ypred=modelname.precict xtest

R2 Score
Linear Regression 0.8461458574000762
Polynomial Regression -5096917261.31694
Support Vector Regression 0.8925192795117239
Decision Tree Regression 0.7818488773000198
Decision Tree with adaboost 0.7828771670990967
Random Forest Regression 0.8707790986888675
Gradient Boost Regression 0.7675751339906417
ElasticNet Regression 0.11592521373686626
Ridge Regression 0.8389783925705427
Lasso Regression 0.5845934822304384

In [ ]:
from sklearn.metrics import mean_absolute_error
print("Mean Absolute Error")
print("Linear Regression",mean_absolute_error(ytest,lr.predict(xtest)))
print("Polynomial Regression",mean_absolute_error(ytest,pr.predict(xtest)))
print("Support Vector Regression",mean_absolute_error(ytest,svr.predict(xtest)))
print("Decision Tree Regression",mean_absolute_error(ytest,dtr.predict(xtest)))
print("Decision Tree with adaboost",mean_absolute_error(ytest,adar.predict(xtest)))
print("Random Forest Regression",mean_absolute_error(ytest,rfr.predict(xtest)))
print("Gradient Boost Regression",mean_absolute_error(ytest,gbr.predict(xtest)))
print("ElasticNet Regression",mean_absolute_error(ytest,er.predict(xtest)))
print("Ridge Regression",mean_absolute_error(ytest,rr.predict(xtest)))
print("Lasso Regression",mean_absolute_error(ytest,lsr.predict(xtest)))
#inside the function pass ytest(actual y) & ypred(predicted y), ypred=modelname.precict xtest

Mean Absolute Error
Linear Regression 0.3000611225036193
Polynomial Regression 12428.050721464057
Support Vector Regression 0.1936503575576906
Decision Tree Regression 0.32807017543859646
Decision Tree with adaboost 0.3694216419645787
Random Forest Regression 0.21943421052631634
Gradient Boost Regression 0.36886368047777873
ElasticNet Regression 0.8199561289610996
Ridge Regression 0.3097504137546311
Lasso Regression 0.5462420050355498

In [ ]:
from sklearn.metrics import mean_squared_error
print("Mean Squared Error")
print("Linear Regression",mean_squared_error(ytest,lr.predict(xtest)))
print("Polynomial Regression",mean_squared_error(ytest,pr.predict(xtest)))
print("Support Vector Regression",mean_squared_error(ytest,svr.predict(xtest)))
print("Decision Tree Regression",mean_squared_error(ytest,dtr.predict(xtest)))
print("Decision Tree with adaboost",mean_squared_error(ytest,adar.predict(xtest)))
print("Random Forest Regression",mean_squared_error(ytest,rfr.predict(xtest)))
print("Gradient Boost Regression",mean_squared_error(ytest,gbr.predict(xtest)))
print("ElasticNet Regression",mean_squared_error(ytest,er.predict(xtest)))
print("Ridge Regression",mean_squared_error(ytest,rr.predict(xtest)))
print("Lasso Regression",mean_squared_error(ytest,lsr.predict(xtest)))
#inside the function pass ytest(actual y) & ypred(predicted y), ypred=modelname.precict xtest

Mean Squared Error
Linear Regression 0.18596699217293475
Polynomial Regression 6160759512.937934
Support Vector Regression 0.12991438493638918
Decision Tree Regression 0.26368421052631574
Decision Tree with adaboost 0.2624412933205457
Random Forest Regression 0.15619223464912307
Gradient Boost Regression 0.2809372078485661
ElasticNet Regression 1.0686012484227156
Ridge Regression 0.19463046949846682
Lasso Regression 0.5021112810691154