In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [12]:
df=pd.read_csv("/content/decision tree empl sal_100 - Sheet1.csv")
df.head()

  company job degree  salary
0       g  se      b       0
1       g  se      m       0
2       g  BM      b       1
3       g  BM      m       1
4       g  CP      b       0

In [30]:
from sklearn.preprocessing import LabelEncoder

x = df.drop('salary', axis='columns')
y = df['salary']

In [31]:
l_company = LabelEncoder()
l_job= LabelEncoder()
l_deg = LabelEncoder()

df['company_n'] = l_company.fit_transform(x['company'])
df['degree_n'] = l_deg.fit_transform(x['degree'])
df['job_n'] = l_job.fit_transform(x['job'])
x.head()

   company  job  degree  company_n  degree_n  job_n
0        2    2       0          2         0      2
1        2    2       1          2         1      2
2        2    0       0          2         0      0
3        2    0       1          2         1      0
4        2    1       0          2         0      1

In [33]:
from sklearn.model_selection import train_test_split
xtrain,xtest,ytrain,ytest=train_test_split(x,y,test_size=0.2)

In [38]:
from sklearn.tree import DecisionTreeRegressor
model1=DecisionTreeRegressor()

In [39]:
model1.fit(xtrain, ytrain)

DecisionTreeRegressor()

In [37]:
y_pred = model1.predict(xtest)
y_pred

array([0., 0., 0., 1.])